DATABASE_URL=postgresql://postgres.xxxx:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
MODEL_PATH=app/model/trained/rf_model.pkl
LE_TANAH_PATH=app/model/trained/le_tanah.pkl
LE_VEG_PATH=app/model/trained/le_veg.pkl
ENV=production
